* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background-color: #222; /* Dark background like your preview */
    display: flex;
    justify-content: center;
}

.app-container {
    aspect-ratio: 9 / 16;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

/* Header */
.header {
    background-color: #8cc63f; /* Bright Green */
    display: flex;
    align-items: center;
    box-shadow: 0 4px 5px rgba(0,0,0,0.1);
    height: 140px;
    width: auto;
    margin-bottom: 10px;
}

.dino-image {
    width: 300px;
    margin-top: 10px;
}

.title-image {
    height: 350px;
    margin-left: 90px;
}

/* Content Area */
.main-content {
    display: flex;
    flex: 1;
}

/* Sidebar */
.sidebar {
     width: 120px; /* Iets breder voor tekst */
    height: 50px;
    min-height: 40vh;
    background-color: #fdb981; /* Light Orange */
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: inset -2px 0 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    margin: 5px;
}

.category-btn {
    background-color: #ff7e26;
    border: none;
    color: white;
    padding: 43px 20px; /* Iets minder padding boven/onder zodat tekst past */
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    
}

.category-btn.active {
    background-color: #0b2b16; /* Donkergroen zoals de order-btn */
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transform: scale(1.05);
}

/* Product Grid */
.product-grid {
    flex: 1;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    gap: 10px;
}

.product-item {
    display: none; /* Standaard verbergen we ze, JS laat de juiste zien */
    border: 1px solid #8cc63f;
    padding: 5px;
    background: white;
    border-radius: 5px;
}

.product-item img {
    width: 100%;
    display: block;
}

.product-details {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-weight: bold;
    color: #1a472a;
    padding-top: 3px;
}

.product-placeholder {
    background-color: #cccccc;
    aspect-ratio: 1 / 1;
}

/* Footer */
.footer {
    background-color: #8cc63f;
    padding: 15px;
}

.button-row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.clear-btn, .order-btn {
    flex: 1;
    padding: 12px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.clear-btn {
    background-color: #e2f497;
    color: #0b2b16;
}

.order-btn {
    background-color: #0b2b16;
    color: white;
}

.info-row {
    display: flex;
    justify-content: space-between;
    color: #0b2b16;
    font-size: 18px;
}

.total-label {
    margin-left: auto;
    margin-right: 20px;
}